@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #047857;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #059669;
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.search {
  background-color: transparent;
  border: 2px solid #047857;
  border-radius: 30px;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.search:focus {
  outline: none;
}

::placeholder {
  color: white;
}

.movie__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 1rem;
  width: 275px;
  background-color: #059669;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.movie img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.movie__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie__info h3 {
  margin: 0;
}

.movie__overview {
  background-color: #fff;
  color: #059669;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(102%);
  transition: transform 0.3s ease-in;
  overflow: auto;
  max-height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
}

.movie:hover .movie__overview {
  transform: translateY(0%);
}

.tag {
  background-color: #047857;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.tag.black {
  color: black;
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}
